<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js" type="module"></script>
    <title>Educational Buddy</title>
</head>
<body>
    <main class="container">
        <label class="Model_One">
          <input id="text-input" type="text" />
          <button id="send-input">Send >></button>
        </label>
        <p id="status"></p>
      </main>
</body>
</html>